body {

}

.listviewimg {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

/*.alignright {
    text-align:right;
}*/

.nearby-listview-grid-b {
    height:100%;
    text-align:right;
    vertical-align:bottom;
}

.critical-urgency {
    color:red;
}

.high-urgency {
    color:orange;
}

.medium-urgency {
    color:brown;
}

.low-urgency {
    color:green;
}

.suggestion {
    color:blue;
}